<div class="row">
  <div class="col-sm-6">
    {{#each sellers as |seller|}}
      <div class="row">
        <div class="col-sm-12">
          {{player-results-player
            player=seller
            histories=histories
            buyers=buyers
            sellers=sellers
            weeks=weeks
            weeksForRounds=weeksForRounds
            typesForRounds=typesForRounds
            positionsForPlayers=positionsForPlayers
            kpiPerPlayerPerWeek=kpiPerPlayerPerWeek
            averageKPIPerPlayer=averageKPIPerPlayer
          }}
        </div>
      </div>
    {{/each}}
  </div>
  <div class="col-sm-6">
    {{#each buyers as |buyer|}}
      <div class="row">
        <div class="col-sm-12">
          {{player-results-player
            player=buyer
            histories=histories
            buyers=buyers
            sellers=sellers
            weeks=weeks
            weeksForRounds=weeksForRounds
            typesForRounds=typesForRounds
            positionsForPlayers=positionsForPlayers
            kpiPerPlayerPerWeek=kpiPerPlayerPerWeek
            averageKPIPerPlayer=averageKPIPerPlayer
          }}
        </div>
      </div>
    {{/each}}
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    {{player-results-best-transactions role='seller' offers=offers}}
  </div>
  
  <div class="col-sm-6">
    {{player-results-best-transactions role='buyer' offers=offers}}
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {{player-results-all-transactions offers=offers}}
  </div>
</div>