<div class="row">
  <div class="col-sm-12">
    <h4 class="property-label">{{t 'player.results.player.transactions.title'}}</h4>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="legend-container">
      <span class="label label-legend">
        <span class="legend-open">{{t 'player.results.player.transactions.open'}}</span>
        <span class="legend-declined">{{t 'player.results.player.transactions.declined'}}</span>
        <span class="legend-accepted">{{t 'player.results.player.transactions.accepted'}}</span>
        <span class="legend-confirmed">{{t 'player.results.player.transactions.confirmed'}}</span>
        <span class="legend-recalled">{{t 'player.results.player.transactions.recalled'}}</span>
      </span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    {{ember-chart type='line' data=data options=options}}
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="btn-container">
      <div class="btn-group btn-group-xs btn-group-xs-leader">{{t 'player.results.player.transactions.week'}}</div>
      <div class="btn-group btn-group-xs">
        {{#each weeks as |week|}}
          <button class="btn {{if (eq week selectedWeek) 'btn-primary' 'btn-info'}}" {{action 'selectWeek' week}}>{{week}}</button>
        {{/each}}
      </div>
    </div>
  </div>
</div>
