{{#each openOffers as |offer|}}
    <li class="list-group-item">  
      &lt;-- <b>{{offer.senderName}}</b> <i>{{moment-format offer.ts "HH:mm:ss"}}</i> <br>

      {{digit-group-format offer.tomatoes}} <span class="to-tomato"></span> for € {{digit-format offer.price}} <span class="to-money"></span> 
      
      {{#if offer.isConfirmed}}
        <button  class="btn btn-warning" {{action 'recallConfirmationOffer' game offer}}>{{t 'recallConfirm'}}</button>
      {{else}}
        
        {{#if offer.isExternal}}
           
           {{#if (gte remainingTomatoes offer.tomatoes)}}
               <button class="btn btn-success" {{action 'confirmOffer' game offer}}>{{t 'confirm'}}</button>
            {{else}}
               <div class="alert alert-danger" role="alert">
                  Offer tomatoes ({{offer.tomatoes}}) can't exceed remaining tomatoes
               </div>

               <button disabled class="btn btn-success" {{action 'confirmOffer' game offer}}>{{t 'confirm'}}</button>
           {{/if}}  
        
        {{else}}
            <button  class="btn btn-success" {{action 'confirmOffer' game offer}}>{{t 'confirm'}}</button>
        {{/if}}
        
        
      {{/if}}
      <button  class="btn btn-default" {{action 'declineOffer' game offer}}>{{t 'decline'}}</button>
    </li>
  {{/each}}

  
  
  {{#each sentOffers as |offer|}}
    <li class="list-group-item">
      --&gt; <b>{{offer.receiverName}}</b> <i>{{moment-format offer.ts "HH:mm:ss"}}</i> <br>

      {{digit-group-format offer.tomatoes}} <span class="to-tomato"></span> for € {{digit-format offer.price}} <span class="to-money"></span> 
      
      {{#if offer.isConfirmed}}

        {{#if (gte remainingTomatoes offer.tomatoes)}}
          <button class="btn btn-default btn-success" {{action 'acceptOffer' game offer}}>{{t 'accept'}}</button>
        {{else}}
             <div class="alert alert-danger" role="alert">
               Offer tomatoes ({{offer.tomatoes}}) can't exceed remaining tomatoes({{remainingTomatoes}}) 
             </div>

             <button disabled class="btn btn-default btn-success" {{action 'acceptOffer' game offer}}>{{t 'accept'}}</button>
        {{/if}}  
      
      {{else}}
        <button class="btn btn-default" disabled>{{t 'waitingToConfirm'}}</button>
      {{/if}}
      <button class="btn btn-default" {{action 'recallOffer' game offer}}>{{t 'recall'}}</button>
    </li>
  {{/each}}

{{#if (and (not openOffers) (not sentOffers))}}
  <li class="list-group-item"><i>{{t 'na'}}</i></li>
{{/if}}

{{yield}}
