{{#each openOffers as |offer|}}
  <li class="list-group-item">
    
    {{#if (and isSeller (lt remainingTomatoes offer.tomatoes))}}
      <div class="alert alert-danger" role="alert">
        {{t 'player.offers.offerExceedsRemainder' offerTomatoes=offer.tomatoes remainingTomato=remainingTomatoes}}
      </div>
    {{/if}}
    
    <div class="form-inline">
      <span class="form-control-static">
        
        {{moment-format offer.ts "HH:mm:ss"}}
        
        <span class="spacer" />
        
        <strong>{{offer.senderName}}</strong> <span class="glyphicon glyphicon-arrow-right" /> <strong>{{offer.receiverName}}</strong>
        
        <span class="spacer" />
        
        <span class="to-tomato" />{{digit-group-format offer.tomatoes}} {{t 'player.offers.for'}} <span class="to-money" />{{digit-format offer.price}}
        
      </span>
      <span class="btn-group pull-right">
      
        {{#if offer.isConfirmed}}
          <button class="btn btn-warning" {{action 'recallConfirmationOffer' game offer}}>{{t 'player.offers.recallConfirm'}}</button>
        {{else}}
          {{#if (and isSeller (lt remainingTomatoes offer.tomatoes))}}
            <button disabled class="btn btn-success" {{action 'confirmOffer' game offer}}>{{t 'player.offers.confirm'}}</button>
          {{else}}
            <button class="btn btn-success" {{action 'confirmOffer' game offer}}>{{t 'player.offers.confirm'}}</button>
          {{/if}}
        {{/if}}
        
        <button  class="btn btn-default" {{action 'declineOffer' game offer}}>{{t 'player.offers.decline'}}</button>
        
      </span>
    </div>
    
  </li>
{{/each}}

{{#each sentOffers as |offer|}}
  <li class="list-group-item">
    
    {{#if (and isSeller (lt remainingTomatoes offer.tomatoes))}}
      <div class="alert alert-danger" role="alert">
        {{t 'player.offers.offerExceedsRemainder' offerTomatoes=offer.tomatoes remainingTomato=remainingTomatoes}}
      </div>
    {{/if}}
    
    <div class="form-inline">
      <span class="form-control-static">
        
        {{moment-format offer.ts "HH:mm:ss"}}
        
        <span class="spacer" />
        
        <strong>{{offer.senderName}}</strong> <span class="glyphicon glyphicon-arrow-right" /> <strong>{{offer.receiverName}}</strong>
        
        <span class="spacer" />
        
        <span class="to-tomato" />{{digit-group-format offer.tomatoes}} {{t 'player.offers.for'}} <span class="to-money" />{{digit-format offer.price}}
        
      </span>
      <span class="btn-group pull-right">
        
        {{#if offer.isConfirmed}}
          {{#if (and isSeller (lt remainingTomatoes offer.tomatoes))}}
            <button disabled class="btn btn-success" {{action 'acceptOffer' game offer}}>{{t 'player.offers.accept'}}</button>
          {{else}}
            <button class="btn btn-success" {{action 'acceptOffer' game offer}}>{{t 'player.offers.accept'}}</button>
          {{/if}}
        {{else}}
          <button class="btn btn-default" disabled>{{t 'player.offers.pending'}}</button>
        {{/if}}
        
        <button class="btn btn-default" {{action 'recallOffer' game offer}}>{{t 'player.offers.recallOpen'}}</button>
        
      </span>
    </div>
    
  </li>
{{/each}}

{{#if (and (not openOffers) (not sentOffers))}}
  <li class="list-group-item">{{t 'player.offers.noTransactions'}}</li>
{{/if}}
