<li class="list-group-item {{offer.state}}">
  
  {{moment-format offer.ts "HH:mm:ss"}}
  
  ({{t 'player.offerDisplay.round'}} {{offer.roundNumber}})
  
  {{t 'player.offerDisplay.offer'}} {{offer.idxOfOfferInGame}}{{t 'player.offerDisplay.offerSeparator'}}
  
  {{#if (eq offer.senderName "External")}}
      <strong>{{t "player.offerDisplay.external"}}</strong>  
    {{else}}
      <strong>{{offer.senderName}}</strong>  
  {{/if}}
  
  <span class="glyphicon glyphicon-arrow-right" />
  
  {{#if (eq offer.receiverName "External")}}
      <strong>{{t 'player.offerDisplay.external'}}</strong>
    {{else}}
      <strong>{{offer.receiverName}}</strong>
  {{/if}}
  
  <span class="to-tomato" />{{digit-group-format offer.tomatoes}}
  <span class="to-money" />{{digit-format offer.price}}
  
  ({{t (concat 'player.offerDisplay.' state)}})
  
</li>