<div class="jumbotron">
  <div class="title-container">
    {{#if (eq role 'buyer')}}
      {{t 'results.transactions.best.buyerTitle'}}
    {{else if (eq role 'seller')}}
      {{t 'results.transactions.best.sellerTitle'}}
    {{else}}
      {{t 'results.transactions.best.title'}}
    {{/if}}
  </div>
  <div class="row">
    <div class="col-sm-12">
      {{models-table data=(take 3 bestTransactions) columns=columns customClasses=classes customMessages=messages showColumnsDropdown=false useFilteringByColumns=false showTableFooter=false}}
    </div>
  </div>
</div>
