<div class="row">
  <div class="col-sm-6">
    {{#each game.sellers as |seller|}}
      <div class="row">
        <div class="col-sm-12">
          {{player-results-player player=seller histories=histories}}
        </div>
      </div>
    {{/each}}
  </div>
  <div class="col-sm-6">
    {{#each game.buyers as |buyer|}}
      <div class="row">
        <div class="col-sm-12">
          {{player-results-player player=buyer histories=histories}}
        </div>
      </div>
    {{/each}}
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    {{player-results-best-transactions role='seller' histories=histories}}
  </div>
  
  <div class="col-sm-6">
    {{player-results-best-transactions role='buyer' histories=histories}}
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {{player-results-all-transactions histories=histories}}
  </div>
</div>