<div class="title-container">
  <h4>{{t (concat 'player.' player.roleDescription)}} {{player.playerPosition}} {{player.name}}</h4>
</div>

<div class="btn-container">
  <div class="btn-group btn-group-xs">
    {{#link-to 'player' player class="btn btn-info"}}{{t 'player.overview.activate'}}{{/link-to}}

    <button class="btn btn-primary" {{action 'saveUser' player}}>{{t 'player.overview.save'}}</button>
    {{!--
    <button class="btn btn-primary" {{action 'changePercentageOfGoal' game player }}>{{t 'player.overview.addPrognosis'}}</button>
    --}}
  </div>
</div>

{{#if isEditing}}
<ul class="list-group">
  <li class="list-group-item">
    <div class="form-group row">
      <div class="col-2 col-sm-2 col-lg-2">
        <label class="form-control-static">{{t 'player.overview.name'}}</label>
      </div>
      <div class="col-10 col-sm-10 col-lg-10">
        {{input value=player.name class="form-control"}}
      </div>
    </div>
    <div class="row">
      <div class="col-2 col-sm-2 col-lg-2">
        <label class="form-control-static">{{t (if player.isSeller 'player.overview.supply' 'player.overview.demand')}}</label>
      </div>
      <div class="col-4 col-sm-4 col-lg-4">
        <div class="input-tomato">
          <span class="tomato-anchor">
            <span class="tomato-container">
              <span class="to-tomato" />
            </span>
          </span>
          {{number-input
            class="form-control"
            placeholder=(t "player.overview.amountPlaceholder")
            unmaskedValue=player.goalTomatoes
            group=true
            groupSize=3
            separator=","
            decimal=false
            radix="."
          }}
        </div>
      </div>
      <div class="col-2 col-sm-2 col-lg-2">
        <label class="form-control-static">{{t (if player.isSeller 'player.overview.sold' 'player.overview.bought')}}</label>
      </div>
      <div class="col-4 col-sm-4 col-lg-4">
        <div class="input-tomato">
          <span class="tomato-anchor">
            <span class="tomato-container">
              <span class="to-tomato" />
            </span>
          </span>
          {{number-input
            class="form-control"
            placeholder=(t "player.overview.amountPlaceholder")
            unmaskedValue=player.tomatoes
            group=true
            groupSize=3
            separator=","
            decimal=false
            radix="."
          }}
        </div>
      </div>
    </div>
  </li>
</ul>
  
{{/if}}

<div class="btn-container">
  <div class="btn-group btn-group-xs">
    <button class="btn {{if player.enableExternalTrading 'btn-success' 'btn-danger'}}" {{action (pipe (toggle "enableExternalTrading" player) (invoke "save" player))}}>
      {{t (if player.enableExternalTrading 'player.overview.externalTradingEnabled' 'player.overview.externalTradingDisabled')}}
    </button>
  </div>
</div>

<ul class="list-group">
  
  {{!-- There's no need to be able to send external offers specifically.
  
  <li class="list-group-item">
    <div class="form-group row">
      <div class="col-3 col-sm-3 col-lg-3">
        <label for="offerTomato" class="form-control-static">{{t 'player.overview.amount'}}</label>
      </div>
      <div class="col-5 col-sm-5 col-lg-5">
        <div class="input-tomato">
          <span class="tomato-anchor">
            <span class="tomato-container">
              <span class="to-tomato" />
            </span>
          </span>
          {{number-input
            class="form-control"
            placeholder=(t "player.overview.amountPlaceholder")
            unmaskedValue=player.extOfferTomato
            group=true
            groupSize=3
            separator=","
            decimal=false
            radix="."
          }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3 col-sm-3 col-lg-3">
        <label for="offerPrice" class="form-control-static">{{t 'player.overview.unitPrice'}}</label>
      </div>
      <div class="col-5 col-sm-5 col-lg-5">
        <div class="input-tomato">
          <span class="tomato-anchor">
            <span class="tomato-container">
              <span class="to-money" />
            </span>
          </span>
          {{input-money
            number=player.extOfferPrice
            class="form-control"
            placeholder=(t "player.overview.unitPricePlaceholder")
          }}
        </div>
      </div>
      <div class="col-4 col-sm-4 col-lg-4">
        {{#if (and
                (gt player.extOfferTomato 0)
                (gt player.extOfferPrice 0)
              )}}
          <button class="btn btn-primary pull-right" {{action 'sendOffer' game 0 player player.extOfferTomato player.extOfferPrice}}>{{t 'player.overview.sendExternalOffer'}}</button>
        {{else}}
          <button disabled class="btn btn-default pull-right" {{action 'sendOffer' game 0 player player.extOfferTomato player.extOfferPrice}}>{{t 'player.overview.sendExternalOffer'}}</button>
        {{/if}}
      </div>
    </div>
  </li>
  
  --}}
  
  {{!-- attention, the relationship of sent/received offers is switched in this view as the external party is the counter-party for the player --}}
  {{player-offers store=store game=game openOffers=player.externalOffers.sentOffers sentOffers=player.externalOffers.openOffers}}
  
</ul>

<ul class="list-group">
  <li class="list-group-item">
    <div class="row">
      <div class="col-6 col-sm-6 col-lg-6">
        <strong>{{t (if player.isSeller 'player.overview.supply' 'player.overview.demand')}}</strong>
      </div>
      <div class="col-6 col-sm-6 col-lg-6">
        <span class="to-tomato" />{{player.goalTomatoes}}
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-6 col-sm-6 col-lg-6">
        <strong>{{t (if player.isSeller 'player.overview.sold' 'player.overview.bought')}}</strong>
      </div>
      <div class="col-6 col-sm-6 col-lg-6">
        <span class="to-tomato" />{{player.absoluteTomatoes}}
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-6 col-sm-6 col-lg-6">
        <strong>{{t 'player.overview.money'}}</strong>
      </div>
      <div class="col-6 col-sm-6 col-lg-6">
        <span class="to-money" />{{digit-format player.money}}
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-6 col-sm-6 col-lg-6">
        <strong>{{t 'player.overview.averageUnitPrice'}}</strong>
      </div>
      <div class="col-6 col-sm-6 col-lg-6">
        <span class="to-money" />{{digit-format player.avgTomatoPrice}}
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-6 col-sm-6 col-lg-6">
        <strong>{{t "player.overview.kpi"}}</strong>
      </div>
      <div class="col-6 col-sm-6 col-lg-6">
        <span class="to-money" />{{digit-format (if player.isSeller player.sellerKPI player.buyerKPI)}}
      </div>
    </div>
  </li>
</ul>
