  <li class="list-group-item {{offer.state}}">
    {{t "round"}}: {{offer.roundNumber}} {{t "offer"}}: {{offer.idxOfOfferInGame}} [{{t offer.state}}] 
    <b>{{offer.receiverName}}</b>  
    {{moment-format offer.ts "HH:mm:ss"}}
    <br>
    <b>{{offer.senderName}}</b> --&gt;
    <span class="to-tomato"></span> {{digit-group-format offer.tomatoes}} 
    <span class="to-money"></span> {{digit-format offer.price}}
  </li>