<div>
  <span class="title-container">
    <h4>{{#if player.name}}
          {{player.descriptivePlayerIdInGame}}
        {{else}}
          {{player.descriptivePlayerIdInGame}}
        {{/if}}
    </h4>
  </span>
  {{#link-to 'player' player class="btn btn-info btn-xs"}}Activate{{/link-to}}
  <button class="btn btn-primary btn-xs" {{action 'saveUser' player}}>Save</button>
  <button class="btn btn-primary btn-xs" {{action 'changePercentageOfGoal' game player }}>Add % to prognosis</button>
</div>

{{#if isEditing}}
  <div class="form-group">
    <label>Name: </label> {{input value=player.name class="form-control" }}
  </div>

<div class="table-responsive">
  <table class="table-borderless">
    <thead>
      <tr>
        <th>{{capitalize (t 'goalTomatoes')}}:</th>
        <th><span style="margin-left:4em"></span></th>
        <th>{{capitalize (t 'currentTomatoes')}}:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{input value=player.goalTomatoes class="form-control" size="20"}}</td>
        <td> </td>
        <td>{{input value=player.tomatoes class="form-control" size="20"}}</td>
      </tr>
    </tbody>
  </table>
</div>
<hr>

{{/if}}

  <ul class="list-group">

    <li class="list-group-item">
      <div class="table-responsive">
        <table class="table-borderless">
          <thead>
            <tr>
              <th>{{capitalize (t 'tomatoes')}}:</th>
              <th><span style="margin-left:2em"></span></th>
              <th>{{capitalize (t 'price')}}:</th>
              <th><span style="margin-left:2em"></span></th>
              <th><span style="margin-left:0em"></span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{input value=player.extOfferTomato class="form-control" size="20"}}</td>
              <td> </td>
              <td>{{input value=player.extOfferPrice class="form-control" size="20"}}</td>
              <td> </td>
              <td> <button class="btn btn-primary btn-xs" {{action 'sendOffer' game 0 player player.extOfferTomato player.extOfferPrice}}>Send Offer</button> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  
    <li class="list-group-item">
      <strong>Received offers</strong>
    </li>

	{{!-- attention, the relation ship of sent/received offers is swiched in this view
		  as the external party is the counter-party for the player --}}
	{{player-offers store=store game=game openOffers=player.externalOffers.sentOffers sentOffers=player.externalOffers.openOffers}}

{{!--   {{player-offers store=store game=game openOffers=player.externalOffers.openOffers sentOffers=player.externalOffers.sentOffers}} --}}

  </ul>

  <ul class="list-group">
    <li class="list-group-item" style="padding: 0">
      <table class="table">
        <tbody>
          <tr>
            <td>{{t "goalTomatoes"}}</td>
            <td>{{player.goalTomatoes}}</td>
          </tr>
          <tr>
            <td>{{t "tomatoes"}}</td>
            <td>{{player.tomatoes}}</td>
          </tr>
          <tr>
            <td>{{t "money"}}</td>
            <td>{{player.money}}</td>
          </tr>
          <tr>
            <td>{{t "avgTomatoPrice"}}</td>
            <td>{{digit-format player.avgTomatoPrice}}</td>
          </tr>
          <tr>
            <td>{{t "sellerKPI"}}</td>
            <td>{{digit-format player.sellerKPI}}</td>
          </tr>
          <tr>
            <td>{{t "buyerKPI"}}</td>
            <td>{{digit-format player.buyerKPI}}</td>
          </tr>
        </tbody>
      </table>
    </li>
  </ul>

{{yield}}
