<div class="jumbotron jumbotron-header">
  
  <div class="row">
    <div class="col-sm-6">
      <h3 class="property-label">{{t (if model.isSeller 'player.sellerProperties.supply' 'player.buyerProperties.demand')}}</h3>
    </div>
    <div class="col-sm-6">
      <h3 class="property-label">{{t (if model.isSeller 'player.sellerProperties.sold' 'player.buyerProperties.bought')}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p class="property-value">
        {{#if isTutorialActive}}
          {{#tutorial-inside-range tutorial='player' start='introduction1' end='tradeTutorial5' active=isTutorialActive}}
            <span class="to-tomato" />{{t (if model.isSeller 'tutorial.player.values.seller.supply1' 'tutorial.player.values.buyer.demand1')}}
          {{/tutorial-inside-range}}
          
          {{#tutorial-inside-range tutorial='player' start='tradeTutorial6' end='conclusion2' active=isTutorialActive}}
            <span class="to-tomato" />{{t (if model.isSeller 'tutorial.player.values.seller.supply2' 'tutorial.player.values.buyer.demand2')}}
          {{/tutorial-inside-range}}
        {{else}}
          <span class="to-tomato" />{{digit-group-format model.goalTomatoes}}
        {{/if}}
      </p>
    </div>
    <div class="col-sm-6">
      <p class="property-value">
        {{#if isTutorialActive}}
          {{#tutorial-inside-range tutorial='player' start='introduction1' end='tradeTutorial5' active=isTutorialActive}}
            <span class="to-tomato" />{{t (if model.isSeller 'tutorial.player.values.seller.sold1' 'tutorial.player.values.buyer.bought1')}}
          {{/tutorial-inside-range}}
          
          {{#tutorial-inside-range tutorial='player' start='tradeTutorial6' end='conclusion2' active=isTutorialActive}}
            <span class="to-tomato" />{{t (if model.isSeller 'tutorial.player.values.seller.sold2' 'tutorial.player.values.buyer.bought2')}}
          {{/tutorial-inside-range}}
        {{else}}
          <span class="to-tomato" />{{digit-group-format model.absoluteTomatoes}}
        {{/if}}
      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-6">
      {{tutorial-list tutorial='player' step=(if model.isSeller 'sellerPropertySupply' 'buyerPropertyDemand') active=isTutorialActive}}
    </div>
    <div class="col-sm-6">
      {{tutorial-list tutorial='player' step=(if model.isSeller 'sellerPropertySold' 'buyerPropertyBought') active=isTutorialActive}}
      {{tutorial-list tutorial='player' step=(if model.isSeller 'tradeTutorialSeller1' 'tradeTutorialBuyer1') previous='tradeTutorial6' active=isTutorialActive}}
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-6">
      <h3 class="property-label">{{t (if model.isSeller 'player.sellerProperties.remainder' 'player.buyerProperties.remainder')}}</h3>
    </div>
    <div class="col-sm-6">
      <h3 class="property-label">{{t (if model.isSeller 'player.sellerProperties.averageUnitPrice' 'player.buyerProperties.averageUnitPrice')}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p class="property-value">
        {{#if isTutorialActive}}
          {{#tutorial-inside-range tutorial='player' start='introduction1' end='tradeTutorial5' active=isTutorialActive}}
            <span class="to-tomato" />{{t (if model.isSeller 'tutorial.player.values.seller.remainder1' 'tutorial.player.values.buyer.remainder1')}}
          {{/tutorial-inside-range}}
          
          {{#tutorial-inside-range tutorial='player' start='tradeTutorial6' end='conclusion2' active=isTutorialActive}}
            <span class="to-tomato" />{{t (if model.isSeller 'tutorial.player.values.seller.remainder2' 'tutorial.player.values.buyer.remainder2')}}
          {{/tutorial-inside-range}}
        {{else}}
          <span class="to-tomato" />{{digit-group-format model.remainingTomatoes}}
        {{/if}}
      </p>
    </div>
    <div class="col-sm-6">
      <p class="property-value">
        {{#if isTutorialActive}}
          {{#tutorial-inside-range tutorial='player' start='introduction1' end='tradeTutorial5' active=isTutorialActive}}
            <span class="to-money" />{{t (if model.isSeller 'tutorial.player.values.seller.averageUnitPrice1' 'tutorial.player.values.buyer.averageUnitPrice1')}}
          {{/tutorial-inside-range}}
          
          {{#tutorial-inside-range tutorial='player' start='tradeTutorial6' end='conclusion2' active=isTutorialActive}}
            <span class="to-money" />{{t (if model.isSeller 'tutorial.player.values.seller.averageUnitPrice2' 'tutorial.player.values.buyer.averageUnitPrice2')}}
          {{/tutorial-inside-range}}
        {{else}}
          <span class="to-money" />{{digit-format model.avgTomatoPrice}}
        {{/if}}
      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-6">
      {{tutorial-list tutorial='player' step=(if model.isSeller 'sellerPropertyRemainder' 'buyerPropertyRemainder') active=isTutorialActive}}
      {{tutorial-list tutorial='player' step=(if model.isSeller 'tradeTutorialSeller2' 'tradeTutorialBuyer2') active=isTutorialActive}}
    </div>
    <div class="col-sm-6">
      {{tutorial-list tutorial='player' step=(if model.isSeller 'sellerPropertyAverageUnitPrice' 'buyerPropertyAverageUnitPrice') active=isTutorialActive}}
      {{tutorial-list tutorial='player' step=(if model.isSeller 'tradeTutorialSeller3' 'tradeTutorialBuyer3') next='tradeTutorial7' active=isTutorialActive}}
    </div>
  </div>
  
  {{tutorial-row tutorial='player' step=(if model.isSeller 'sellerPropertiesIntroduction' 'buyerPropertiesIntroduction1') active=isTutorialActive}}
  {{tutorial-row tutorial='player' step=(if model.isSeller 'sellerPropertiesConclusion' 'buyerPropertiesConclusion1') active=isTutorialActive}}
  
</div>
