<div class="jumbotron jumbotron-header">

  <div class="row">
    <div class="col-sm-6">
      <h3 class="property-label">{{t (if model.isSeller 'player.sellerProperties.supply' 'player.buyerProperties.demand')}}</h3>
    </div>
    <div class="col-sm-6">
      <h3 class="property-label">{{t (if model.isSeller 'player.sellerProperties.sold' 'player.buyerProperties.bought')}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p class="property-value"><span class="to-tomato" />{{digit-group-format model.goalTomatoes}}</p>
    </div>
    <div class="col-sm-6">
      <p class="property-value"><span class="to-tomato" />{{digit-group-format model.absoluteTomatoes}}</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-6">
      {{tutorial-list tutorial='player' step='sellerPropertyGoal' active=isTutorialActive}}
    </div>
    <div class="col-sm-6">
      {{tutorial-list tutorial='player' step='sellerPropertyInventory' active=isTutorialActive}}
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-6">
      <h3 class="property-label">{{t (if model.isSeller 'player.sellerProperties.remainder' 'player.buyerProperties.remainder')}}</h3>
    </div>
    <div class="col-sm-6">
      <h3 class="property-label">{{t (if model.isSeller 'player.sellerProperties.averageUnitPrice' 'player.buyerProperties.averageUnitPrice')}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      {{#tutorial-inside-range tutorial='player' start='sellerPropertyRemaining' end='sellerPropertyAveragePrice' active=isTutorialActive}}
        <p class="property-value">TODO</p>
      {{/tutorial-inside-range}}
      
      {{#tutorial-outside-range tutorial='player' start='sellerPropertyRemaining' end='sellerPropertyAveragePrice' active=isTutorialActive}}
        <p class="property-value"><span class="to-tomato" />{{digit-group-format model.remainingTomatoes}}</p>
      {{/tutorial-outside-range}}
    </div>
    <div class="col-sm-6">
      <p class="property-value"><span class="to-money" />{{digit-format model.avgTomatoPrice}}</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-6">
      {{tutorial-list tutorial='player' step='sellerPropertyRemaining' active=isTutorialActive}}
    </div>
    <div class="col-sm-6">
      {{tutorial-list tutorial='player' step='sellerPropertyAveragePrice' next=null active=isTutorialActive}}
    </div>
  </div>
  
  {{tutorial-row tutorial='player' step='sellerPropertiesIntroduction' active=isTutorialActive}}
  
</div>
