<div class="jumbotron jumbotron-header">
  
  <a href="#" class="visible-xs" data-toggle="offcanvas"><i class="fa fa-lg fa-reorder"></i></a>
  
  <div class="row">
    <div class="col-sm-12">
      <div class="title-container">
        {{yield}}
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-4">
      <h3 class="property-label">{{t 'timer.trade'}}</h3>
    </div>
    <div class="col-sm-4">
      <h3 class="property-label">{{t 'timer.week'}}</h3>
    </div>
    <div class="col-sm-4">
      <h3 class="property-label">{{t 'timer.time'}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p class="property-value">{{t (concat 'timer.' game.currentGameSettings.tradeType)}}</p>
    </div>
    <div class="col-sm-4">
      <p class="property-value">{{game.currentGameSettings.tradingFor}}</p>
    </div>
    <div class="col-sm-4">
      {{#if game.gameIsAboutToStart}}
        <p class="property-label"><span class="text-success">{{t "timer.pending"}}</span></p>
      {{else if game.gameIsRunning}}
        {{#if game.isPaused}}
          <p class="property-label"><span class="text-success">{{t "timer.paused"}}</span></p>
        {{else}}
          {{tom-clock timeStartTs=game.timeStartTs timeEndTs=game.timeEndTs}}
        {{/if}}
      {{else}}
        <p class="property-label"><span class="text-success">{{t "timer.gameOver"}}</span></p>
      {{/if}}
    </div>
  </div>
  
</div>
