<div class="jumbotron jumbotron-header">
  
  <a href="#" class="visible-xs" data-toggle="offcanvas"><i class="fa fa-lg fa-reorder"></i></a>
  
  <div class="row">
    <div class="col-sm-12">
      <div class="title-container">
        {{yield}}
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12">
      {{tutorial-list tutorial='player' step='clockPlayer' active=isTutorialActive}}
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-4">
      <h3 class="property-label">{{t 'timer.trade'}}</h3>
    </div>
    <div class="col-sm-4">
      <h3 class="property-label">{{t 'timer.week'}}</h3>
    </div>
    <div class="col-sm-4">
      <h3 class="property-label">{{t 'timer.time'}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p class="property-value">
        {{#if isTutorialActive}}
          {{t 'tutorial.player.values.tradeType'}}
        {{else}}
          {{if game.currentGameSettings.tradeType (t (concat 'timer.' game.currentGameSettings.tradeType))}}
        {{/if}}
      </p>
    </div>
    <div class="col-sm-4">
      <p class="property-value">
        {{#if isTutorialActive}}
          {{t 'tutorial.player.values.tradingFor'}}
        {{else}}
          {{if game.currentGameSettings.tradingFor game.currentGameSettings.tradingFor}}
        {{/if}}
      </p>
    </div>
    <div class="col-sm-4">
      {{#if game.isImported}}
        <p class="property-value"><span class="text-success">{{t "timer.imported"}}</span></p>
      {{else if game.gameIsAboutToStart}}
        <p class="property-value">
          {{#if isTutorialActive}}
            <span class="text-success">{{t "timer.tutorial"}}</span>
          {{else}}
            <span class="text-success">{{t "timer.pending"}}</span>
          {{/if}}
        </p>
      {{else if game.gameIsRunning}}
        {{#if game.isPaused}}
          <p class="property-value"><span class="text-success">{{t "timer.paused"}}</span></p>
        {{else}}
          {{tom-clock timeStartTs=game.timeStartTs timeEndTs=game.timeEndTs}}
        {{/if}}
      {{else}}
        <p class="property-value"><span class="text-success">{{t "timer.gameOver"}}</span></p>
      {{/if}}
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-4">
      {{tutorial-list tutorial='player' step='clockTrade' active=isTutorialActive}}
    </div>
    <div class="col-sm-4">
      {{tutorial-list tutorial='player' step='clockWeek' active=isTutorialActive}}
    </div>
    <div class="col-sm-4">
      {{tutorial-list tutorial='player' step='clockTime' active=isTutorialActive}}
    </div>
  </div>
  
  {{tutorial-row tutorial='player' step='clockIntroduction' active=isTutorialActive}}
  {{tutorial-row tutorial='player' step='clockConclusion' active=isTutorialActive}}
  
</div>
