<div class="jumbotron jumbotron-header">

  <a href="#" class="visible-xs" data-toggle="offcanvas"><i class="fa fa-lg fa-reorder"></i></a>

  <div class="row">
    <div class="col-sm-12">
    
      <div class="title-container">
        {{yield}}
      </div>
      
    </div>
  </div>
  
  {{#if game.gameIsAboutToStart}}
    <div class="row">
      <div class="col-sm-12">
      
        <h4 class="text-center">{{t "GameIsAboutToStart"}}</h4>
        
      </div>
    </div>
  {{else if game.gameIsRunning}}
    <div class="row">
      <div class="col-sm-12">
      
        <h4 class="text-center">
          {{liquid-bind (t "currentWeekDescription"
            currentWeek=game.currentGameSettings.currentWeek
          )}}
        </h4>
        
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">

      <h4 class="text-center">
        {{liquid-bind (t "tradeWeekDescription"
          tradeType=(t game.currentGameSettings.tradeType)
          tradeWeek=game.currentGameSettings.tradingFor
        )}}
      </h4>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
      
        {{#if game.isPaused}}
          <h3 class="text-center">{{t "GameIsPaused"}}</h3>
        {{else}}
          {{tom-clock timeStartTs=game.timeStartTs timeEndTs=game.timeEndTs}}
        {{/if}}
        
      </div>
    </div>
  {{else}}
    <div class="row">
      <div class="col-sm-12">
      
        <h4 class="text-center">{{t "GameHasEnded"}}</h4>
        
      </div>
    </div>
  {{/if}}
  
</div>
