{{#if isOver}}
  <p class="property-value"><span class="text-danger">{{t "timer.timeUp"}}</span></p>
{{else}}
  {{#if timeMissingAlert}}
    <p class="property-value"><span class="glyphicon glyphicon-time clock-icon" /> <span class="text-danger">{{remainingTime}}</span></p>
  {{else}}
    <p class="property-value"><span class="glyphicon glyphicon-time clock-icon" /> {{remainingTime}}</p>
  {{/if}}
{{/if}}
