<div class="container-fluid">
  <div class="row text-right">
    <a href="#" class="{{if (eq i18n.locale 'en') 'lead'}}" {{action "changeLang" 'en'}}>EN</a>
    <a href="#" class="{{if (eq i18n.locale 'nl') 'lead'}}" class="lead" {{action "changeLang" 'nl'}}>NL</a>
    {{!-- <a href="#" class="{{if (eq i18n.locale 'zh') 'lead'}}" {{action "changeLang" 'zh'}}>ZH</a> --}}
  </div>
</div>
{{outlet}}
