{{!-- The game is only used in one language at the moment. Some of the other language translations may be missing. --}}
{{!-- Note that the Chinese translation was already commented out, this had to be removed in order to comment everything out. --}}
{{!--
<div class="container-fluid">
  <div class="row text-right">
    <a href="#" class="{{if (eq i18n.locale 'en') 'lead'}}" {{action "changeLang" 'en'}}>EN</a>
    <a href="#" class="{{if (eq i18n.locale 'nl') 'lead'}}" {{action "changeLang" 'nl'}}>NL</a>
    <a href="#" class="{{if (eq i18n.locale 'zh') 'lead'}}" {{action "changeLang" 'zh'}}>ZH</a>
    <span style="position: fixed; right: 5px; bottom: 5px;">[{{version}}]</span>
  </div>
</div>
--}}
{{outlet}}
