<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left">
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
      <div class="sidebar-nav">
        <ul class="nav">
          {{#unless game.isDeleted}}
            
            {{#if (and game.gameIsAboutToStart game.gameConfigurationValid)}}
              <li class="active" {{action 'nextRound' game game.minutesPerRound}}><a href="">{{t 'games.startGame'}}</a></li>
              <li class="nav-divider"></li>
            {{/if}}
            
            {{#if game.gameIsRunning}}
              {{#if game.isLastRound}}
                <li class="active" {{action 'nextRound' game game.minutesPerRound}}><a href="">{{t 'games.endGame'}}</a></li>
                <li class="nav-divider"></li>
              {{else}}
                <li class="active" {{action 'nextRound' game game.minutesPerRound}}><a href="">{{t 'games.nextRound'}}</a></li>
                <li class="nav-divider"></li>
              {{/if}}
            {{/if}}
            
            {{#if game.gameIsRunning}}
              
              {{#if game.isPaused}}
                <li class="active" {{action 'resumeGame' game}}><a href="">{{t 'games.resume'}}</a></li>
              {{else}}
                <li class="active" {{action 'pauseGame' game}}><a href="">{{t 'games.pause'}}</a></li>
              {{/if}}
              <li class="active" {{action 'letGameEndInXMinutes' game game.minutesPerRound 1}}><a href="">{{t 'games.restartRound'}}</a></li>
              <li class="active" {{action 'letGameEndInXMinutes' game 5}}><a href="">{{t 'games.endRoundIn5Minutes'}}</a></li>
              <li class="active" {{action 'letGameEndInXMinutes' game 1}}><a href="">{{t 'games.endRoundIn1Minute'}}</a></li>
              <li class="active" {{action 'letGameEndInXMinutes' game 0}}><a href="">{{t 'games.endRoundNow'}}</a></li>
              <li class="active" {{action 'letGameEnd' game}}><a href="">{{t 'games.endGameNow'}}</a></li>
              <li class="active" {{action 'allowGlobalExternalTrading'}}><a href="">{{t 'games.globalTrading'}}</a></li>
              <li class="nav-divider"></li>
              <li>
                <div class="row">
                  <div class="col-6 col-sm-6 col-lg-6">
                    <label class="label-nav form-control-static">{{t 'games.globalTradingSchedule'}}</label>
                  </div>
                  <div class="col-6 col-sm-6 col-lg-6">
                    {{input value=_autoTradingString enter=(action "setAutoTrading" _autoTradingString) class="form-control"}}
                  </div>
                </div>
              </li>
              <li class="active" {{action "setAutoTrading" _autoTradingString}}><a href="">{{t 'games.saveGlobalTradingSchedule'}}
                {{#if autoTradingTs}}
                  ({{autoTradingTs}})
                {{/if}}
              </a></li>
              
              {{!--
              {{timeMissingSec}}
              {{#each autoTradingArr as |item|}}
                <p>{{item}}</p>
              {{/each}}
              --}}
              
              <li class="nav-divider"></li>
            {{/if}}
            
            <li class="active" {{action (toggle "isConfiguration" this)}}><a href="">{{t 'games.configuration'}}</a></li>
            <li class="active">{{#link-to 'historical' game.id}}{{t 'games.history'}}{{/link-to}}</li>
            
            <li class="nav-divider"></li>
            
            {{#if isEditing}}
              <li class="active" {{action (pipe (invoke "rollbackAttributes" game) (toggle "isEditing" this))}}><a href="">{{t 'games.revertSettings'}}</a></li>
              <li class="active" {{action 'saveSettings' game}}><a href="">{{t 'games.applySettings'}}</a></li>
            {{else}}
              <li class="active" {{action (toggle "isEditing" this)}}><a href="">{{t 'games.settings'}}</a></li>
            {{/if}}
            
            {{#if isEditing}}
              <li class="nav-divider"></li>
              
              <li>
                <div class="form-group row">
                  <div class="col-6 col-sm-6 col-lg-6">
                    <label class="label-nav form-control-static">{{t 'games.name'}}</label>
                  </div>
                  <div class="col-6 col-sm-6 col-lg-6">
                    {{input disabled=(not isEditing) type="text" value=game.gameName class="form-control"}}
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-6 col-sm-6 col-lg-6">
                    <label class="label-nav form-control-static">{{t 'games.round'}}</label>
                  </div>
                  <div class="col-6 col-sm-6 col-lg-6">
                    {{input disabled=(not isEditing) type="number" value=game.roundCnt class="form-control"}}
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-6 col-sm-6 col-lg-6">
                    <label class="label-nav form-control-static">{{t 'games.week'}}</label>
                  </div>
                  <div class="col-6 col-sm-6 col-lg-6">
                    {{input disabled=1 type="number" value=game.weekCnt class="form-control"}}
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-6 col-sm-6 col-lg-6">
                    <label class="label-nav form-control-static">{{t 'games.minutesPerRound'}}</label>
                  </div>
                  <div class="col-6 col-sm-6 col-lg-6">
                    {{input disabled=1 type="number" value=game.minutesPerRound class="form-control"}}
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-6 col-sm-6 col-lg-6">
                    <label class="label-nav form-control-static">{{t 'games.fine'}}</label>
                  </div>
                  <div class="col-6 col-sm-6 col-lg-6">
                    <div class="input-tomato">
                      <span class="tomato-anchor">
                        <span class="tomato-container">
                          <span class="to-money" />
                        </span>
                      </span>
                      {{input disabled=1 type="number" value=game.fine class="form-control"}}
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-6 col-sm-6 col-lg-6">
                    <label class="label-nav form-control-static">{{t 'games.fixedCosts'}}</label>
                  </div>
                  <div class="col-6 col-sm-6 col-lg-6">
                    <div class="input-tomato">
                      <span class="tomato-anchor">
                        <span class="tomato-container">
                          <span class="to-money" />
                        </span>
                      </span>
                      {{input disabled=1 type="number" value=game.fixedCost class="form-control"}}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 col-sm-6 col-lg-6">
                    <label class="label-nav form-control-static">{{t 'games.retailPrice'}}</label>
                  </div>
                  <div class="col-6 col-sm-6 col-lg-6">
                    <div class="input-tomato">
                      <span class="tomato-anchor">
                        <span class="tomato-container">
                          <span class="to-money" />
                        </span>
                      </span>
                      {{input disabled=1 type="number" value=game.retailPrice class="form-control"}}
                    </div>
                  </div>
                </div>
              </li>
            {{/if}}
            
            <li class="nav-divider"></li>
            
            {{#each game.gameMatrix as |item index|}}
              <li>
                <div class="label-nav">
                  {{#if (eq-num item.round game.roundCnt)}}
                    <strong>{{t 'games.tradeRound' round=item.round}} {{t (concat 'games.' item.tradeType)}}</strong>
                  {{else}}
                    {{t 'games.tradeRound' round=item.round}} {{t (concat 'games.' item.tradeType)}}
                  {{/if}}
                </div>
              </li>
            {{/each}}
            
          {{else}}
            <h4>{{t 'games.gameWasDeleted'}}</h4>
          {{/unless}}
          
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-9">
    
      {{#if isConfiguration}}
        
        <div class="jumbotron">
          <a href="#" class="visible-xs" data-toggle="offcanvas"><i class="fa fa-lg fa-reorder"></i></a>
          
          <div class="title-container">
            <span class="line-1">{{t 'games.configuration'}}</span>
          </div>
          
          {{#if game.gameConfigurationValid}}
            
            <div class="row">
              <div class="col-3 col-sm-3 col-lg-3"><h3 class="property-label">{{t 'games.playerIDs'}}</h3></div>
              <div class="col-3 col-sm-3 col-lg-3"><h3 class="property-label">{{t 'games.numberOfSellers'}}</h3></div>
              <div class="col-3 col-sm-3 col-lg-3"><h3 class="property-label">{{t 'games.numberOfBuyers'}}</h3></div>
              <div class="col-3 col-sm-3 col-lg-3"><h3 class="property-label">{{t 'games.numberOfRounds'}}</h3></div>
            </div>
            <div class="row">
              <div class="col-3 col-sm-3 col-lg-3"><p class="property-value">{{game.numberOfPlayers.allPlayerIds}}</p></div>
              <div class="col-3 col-sm-3 col-lg-3"><p class="property-value">{{game.numberOfPlayers.nrOfSellers}}</p></div>
              <div class="col-3 col-sm-3 col-lg-3"><p class="property-value">{{game.numberOfPlayers.nrOfBuyers}}</p></div>
              <div class="col-3 col-sm-3 col-lg-3"><p class="property-value">{{game.numberOfRounds.total}}</p></div>
            </div>
            
          {{/if}}
          
          <div class="form-group">
            
            {{textarea value=game.gameConfigurationRO class="form-control game-config-textarea" col="10" rows="10"}}
            
            <div class="btn-container">
              <div class="btn-group">
                <button class="btn btn-primary" {{action "saveGameConfig"}}>{{t 'games.saveConfiguration'}}</button>
                {{#if (not game.isNew)}}
                  <button class="btn btn-primary" {{action "updateGameConfig"}}>{{t 'games.updateConfiguration'}}</button>
                {{/if}}
                <button class="btn btn-info" {{action "revertGameConfig"}}>{{t 'games.revertConfiguration'}}</button>
                <button class="btn btn-info" {{action (toggle "isConfiguration" this)}}>{{t 'games.cancelConfiguration'}}</button>
              </div>
            </div>
            
          </div>
          
        </div>
        
      {{/if}}
      
      {{#unless game.isDeleted}}
        
        {{#timer-jumbotron game=game}}
          <span class="line-1">{{t 'games.facilitator'}}</span>
        {{/timer-jumbotron}}
        
        <div class="row">
          <div class="col-6 col-sm-6 col-lg-6">
            
            {{#each game.sellers as |seller|}}
              {{player-ov isEditing=isEditing store=store player=seller game=game}}
            {{/each}}
            
          </div>
          <div class="col-6 col-sm-6 col-lg-6">
            
            {{#each game.buyers as |buyer|}}
              {{player-ov isEditing=isEditing store=store player=buyer game=game}}
            {{/each}}
            
          </div>
        </div>
        
      {{/unless}}
      
    </div>
  </div>
</div>
