{{#unless game.isDeleted}}
  <div class="container-fluid">
    <div class="jumbotron">
      
      <div class="title-container">{{t 'history.title'}}</div>
      
      <div class="row">
        <div class="col-sm-12">
          
          {{#if needsReload}}
            <div class="alert alert-warning">{{t 'history.needsReload'}}</div>
          {{else}}
            <div class="text-center">
              <div class="btn-group btn-group-xs">
                <button type="button" class="btn btn-info" {{action 'importHistory'}}>{{t 'history.import'}}</button>
                <button type="button" class="btn btn-info" {{action 'exportHistory'}}>{{t 'history.export'}}</button>
              </div>
            </div>
          {{/if}}
          
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-12">
          {{models-table data=sortedHistoryLogsById columns=columns customClasses=classes customMessages=messages showColumnsDropdown=false useNumericPagination=true}}
        </div>
      </div>
      
    </div>
  </div>
{{/unless}}
