

<div class="container-fluid">
  


  <div class="row">
      <div class="col-sm-5">
        
        {{#timer-jumbotron game=game}}
            <div class="line-1">{{capitalize (t model.roleDescription)}} {{model.playerPosition}} {{model.name}}</div>
        {{/timer-jumbotron}}

      </div>
      <div class="col-sm-7">
        <div class="" style="background-color: #eeeeee;padding: 22px 10px;border-radius: 5px; min-height: 200px; font-size: 14pt;">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>{{capitalize (t 'goalTomatoes')}}</th>
                <th>{{capitalize (t 'tomatoes')}}</th>
                <th>{{capitalize (t 'remainingTomatoes')}}</th>
                <th>{{capitalize (t 'avgTomatoPrice')}}</th>
                {{#if model.isSeller}}
                  <th>{{capitalize (t 'sellerKPI')}}</th>
                {{else}}
                  <th>{{capitalize (t 'fine')}}</th>
                  <th>{{capitalize (t 'fixedCost')}}</th>
                  <th>{{capitalize (t 'retailPrice')}}</th>
                  <th>{{capitalize (t 'buyerKPI')}}</th>
                {{/if}}
              </tr>
              
            </thead>
            <tbody>
              <tr>
                <td>{{model.goalTomatoes}}  <span class="to-tomato"></span></td>
                <td>{{model.tomatoes}} <span class="to-tomato"></span></td>
                <td>{{model.remainingTomatoes}} <span class="to-tomato"></span></td>
                <td>{{digit-format model.avgTomatoPrice}} <span class="to-price"></span></td>
                {{#if model.isSeller}}
                  <td>{{digit-format model.sellerKPI}}</td>
                {{else}}
                  <td>{{digit-format model.userGame.fine}}</td>
                  <td>{{digit-format model.userGame.fixedCost}}</td>
                  <td>{{digit-format model.userGame.retailPrice}}</td>
                  <td>{{digit-format model.buyerKPI}}</td>
                {{/if}}
              </tr>
            </tbody>
          </table>
        </div>
      </div>

  </div>

  <div class="row">
      
    {{#each-in model.groupedReceivedOpenOffers as |k obj|}}
      <div class="col-sm-4 ">
          {{#if (eq k 'External')}}
            <h4>{{capitalize (t 'external')}}</h4>
          {{else}}
            <h4>{{capitalize (t obj.user.roleDescription)}} {{obj.user.playerPosition}}: {{obj.user.name}}</h4>
          {{/if}}
          
          {{#if (or model.enableExternalTrading (not (eq k 'External')))}}

            <ul class="list-group">
                <li class="list-group-item">
                  <div class="form-inline">
                    {{#if (eq k 'External')}}
                         <div class="form-group">
                            <label for="offerTomato">{{t 'tomatoes'}}<span class="to-tomato"></span>(max. {{model.extOfferTomato}})</label>

                            {{number-input 
                              class="form-control" 
                              placeholder=(t "kgOfTomatoes")
                              unmaskedValue=obj.user._offerTomato  
                              group=true 
                              groupSize=3 
                              separator="," 
                              decimal=false 
                              radix="."
                            }}


{{!--                             {{input
                              placeholder=(t "kgOfTomatoes")
                              value=obj.user._offerTomato 
                              type="number"
                              class="form-control" 
                            }} --}}

                          </div>
                          <div class="form-group">
                            
                            <label for="offerPrice">{{t 'price'}} <span class="to-money"></span></label>
                            {{input-money
                              prefix='€ ' 
                              number=model.extOfferPrice 
                              class="form-control" 
                              placeholder=(t "pricePerKg")
                              disabled=1
                            }}

                            {{#if (and (gt obj.user._offerTomato 0) (lte obj.user._offerTomato model.extOfferTomato))}}
                              {{#if (eq k 'External')}}
                                  <button class="btn btn-info" {{action 'sendOffer' game model 0 obj.user._offerTomato model.extOfferPrice}}>{{t 'send'}}</button>
                              {{else}}
                                <button class="btn btn-info" {{action 'sendOffer' game model obj.user obj.user._offerTomato model.extOfferPrice}}>{{t 'send'}}</button>
                              {{/if}}
                            {{else}}
                              {{#if (eq k 'External')}}
                                  <button disabled class="btn btn-default" {{action 'sendOffer' game model 0 obj.user._offerTomato model.extOfferPrice}}>{{t 'send'}}</button>
                              {{else}}
                                <button disabled class="btn btn-default" {{action 'sendOffer' game model obj.user obj.user._offerTomato model.extOfferPrice}}>{{t 'send'}}</button>
                              {{/if}}
                            {{/if}}
                          </div>
                    {{else}}
                      <div class="form-group">

                          <label for="offerTomato">{{t 'tomatoes'}} <span class="to-tomato"></span></label>
                          
                          {{number-input 
                            class="form-control" 
                            placeholder=(t "kgOfTomatoes")
                            unmaskedValue=obj.user._offerTomato  
                            group=true 
                            groupSize=3 
                            separator="," 
                            decimal=false 
                            radix="."
                          }}

{{!--                           {{input
                            value=obj.user._offerTomato 
                            type="number"
                            class="form-control" 
                            placeholder=(t "kgOfTomatoes")
                          }} --}}
                      </div>
                      <div class="form-group">
                        
                        <label for="offerPrice">{{t 'price'}} <span class="to-money"></span></label>
                        {{input-money
                          prefix='€ ' 
                          number=obj.user._offerPrice 
                          class="form-control" 
                          placeholder=(t "pricePerKg")
                        }}

                        {{#if (and (gt obj.user._offerTomato 0) (gt obj.user._offerPrice 0))}}
                          {{#if (eq k 'External')}}
                              <button class="btn btn-info" {{action 'sendOffer' game model 0 obj.user._offerTomato obj.user._offerPrice}}>{{t 'send'}}</button>
                          {{else}}
                            <button class="btn btn-info" {{action 'sendOffer' game model obj.user obj.user._offerTomato obj.user._offerPrice}}>{{t 'send'}}</button>
                          {{/if}}
                        {{else}}
                          {{#if (eq k 'External')}}
                              <button disabled class="btn btn-default" {{action 'sendOffer' game model 0 obj.user._offerTomato obj.user._offerPrice}}>{{t 'send'}}</button>
                          {{else}}
                            <button disabled class="btn btn-default" {{action 'sendOffer' game model obj.user obj.user._offerTomato obj.user._offerPrice}}>{{t 'send'}}</button>
                          {{/if}}
                        {{/if}}
                      </div>
                    {{/if}}  
                  </div>
                </li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item">
                  <strong>{{t "currentTransaction"}}</strong>
                </li>
                {{player-offers 
                  store=store 
                  game=game 
                  openOffers=(reverse obj.openOffers) 
                  sentOffers=(reverse obj.sentOffers)}}
            </ul>
            
            <ul class="list-group">
                <li class="list-group-item">
                  <strong>{{t 'last5Transactions'}}</strong>
                </li>

                {{#each (take 5 (reverse obj.history)) as |offer|}}
                    {{player-offer-display offer=offer}}
                {{else}}
                    <li class="list-group-item"><i>{{t "na"}}</i></li>
                {{/each}}

            </ul>

            <ul class="list-group">
                <li class="list-group-item">
                  <strong>{{t "previousAcceptedOffers"}}</strong>
                </li>
                {{#each (filter-by "state" "accepted" (reverse obj.history))  as |offer|}}
                  {{player-offer-display offer=offer}}
                {{else}}
                  <li class="list-group-item"><i>{{t "na"}}</i></li>
                {{/each}}
            </ul>


            {{else}}
              <p>{{t "externalTradingNotAvailable"}}</p>
            {{/if}}

      </div>
    {{/each-in}}

  </div> 

  {{outlet}}

</div>
