

<div class="container-fluid">
  


  <div class="row">
      <div class="col-sm-5">
        
        {{#timer-jumbotron game=game}}
            <div class="line-1">{{capitalize (t model.roleDescription)}} {{model.playerPosition}} {{model.name}}</div>
        {{/timer-jumbotron}}

      </div>
      <div class="col-sm-7">
        <div class="" style="background-color: #eeeeee;padding: 22px 10px;border-radius: 5px; min-height: 200px; font-size: 14pt;">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>{{capitalize (t 'goalTomatoes')}}</th>
                <th>{{capitalize (t 'tomatoes')}}</th>
                <th>{{capitalize (t 'remainingTomatoes')}}</th>
                <th>{{capitalize (t 'avgTomatoPrice')}}</th>
                {{#if model.isSeller}}
                  <th>{{capitalize (t 'sellerKPI')}}</th>
                {{else}}
                  <th>{{capitalize (t 'fine')}}</th>
                  <th>{{capitalize (t 'fixedCost')}}</th>
                  <th>{{capitalize (t 'retailPrice')}}</th>
                  <th>{{capitalize (t 'buyerKPI')}}</th>
                {{/if}}
              </tr>
              
            </thead>
            <tbody>
              <tr>
                <td>{{model.goalTomatoes}}  <span class="to-tomato"></span></td>
                <td>{{model.tomatoes}} <span class="to-tomato"></span></td>
                <td>{{model.remainingTomatoes}} <span class="to-tomato"></span></td>
                <td>{{digit-format model.avgTomatoPrice}} <span class="to-price"></span></td>
                {{#if model.isSeller}}
                  <td>{{digit-format model.sellerKPI}}</td>
                {{else}}
                  <td>{{digit-format model.userGame.fine}}</td>
                  <td>{{digit-format model.userGame.fixedCost}}</td>
                  <td>{{digit-format model.userGame.retailPrice}}</td>
                  <td>{{digit-format model.buyerKPI}}</td>
                {{/if}}
              </tr>
            </tbody>
          </table>
        </div>
      </div>

  </div>

  <div class="row">
      
    {{#each-in model.groupedReceivedOpenOffers as |k obj|}}
      <div class="col-sm-4 ">
          {{#if (eq k 'External')}}
            <h4>{{capitalize (t 'external')}}</h4>
          {{else}}
            <h4>{{capitalize (t obj.user.roleDescription)}} {{obj.user.playerPosition}}: {{obj.user.name}}</h4>
          {{/if}}
          
          <ul class="list-group">
              <li class="list-group-item">
                <div class="form-inline">
                    <div class="form-group">
                      <label for="offerTomato">{{t 'tomatoes'}} <span class="to-tomato"></span></label>
                      {{input value=obj.user._offerTomato type="number" class="form-control" placeholder="kg of tomatoes"}}
                    </div>
                    <div class="form-group">
                      <label for="offerPrice">{{t 'price'}} <span class="to-money"></span></label>
                      {{input value=obj.user._offerPrice type="number" class="form-control" placeholder="price per kg"}}
                      {{#if (and (gt obj.user._offerTomato 0) (gt obj.user._offerPrice 0))}}
                        {{#if (eq k 'External')}}
                            <button class="btn btn-info" {{action 'sendOffer' game model 0 obj.user._offerTomato obj.user._offerPrice}}>{{t 'send'}}</button>
                        {{else}}
                          <button class="btn btn-info" {{action 'sendOffer' game model obj.user obj.user._offerTomato obj.user._offerPrice}}>{{t 'send'}}</button>
                        {{/if}}
                      {{else}}
                        {{#if (eq k 'External')}}
                            <button disabled class="btn btn-default" {{action 'sendOffer' game model 0 obj.user._offerTomato obj.user._offerPrice}}>{{t 'send'}}</button>
                        {{else}}
                          <button disabled class="btn btn-default" {{action 'sendOffer' game model obj.user obj.user._offerTomato obj.user._offerPrice}}>{{t 'send'}}</button>
                        {{/if}}
                      {{/if}}
                    </div>
                    
                    <p>
                    </p>
                </div>
              </li>
          </ul>

          <ul class="list-group">
              <li class="list-group-item">
                <strong>{{t "currentTransaction"}}</strong>
              </li>
              {{player-offers 
                store=store 
                game=game 
                openOffers=(reverse obj.openOffers) 
                sentOffers=(reverse obj.sentOffers)}}
          </ul>
          
          <ul class="list-group">
              <li class="list-group-item">
                <strong>{{t 'last5Transactions'}}</strong>
              </li>

              {{#each (take 5 (reverse obj.history)) as |offer|}}
                  <li class="list-group-item">[{{offer.state}}] <b>{{offer.senderName}}</b> --&gt; <b>{{offer.receiverName}}</b>  {{moment-format offer.ts "HH:mm:ss"}} / {{moment-from-now offer.ts hideSuffix=true interval=1000}} <span class="to-tomato"></span> {{offer.tomatoes}} <span class="to-money"></span> {{offer.price}}</li>
              {{else}}
                  <li class="list-group-item"><i>{{t "na"}}</i></li>
              {{/each}}

          </ul>

          <ul class="list-group">
              <li class="list-group-item">
                <strong>{{t "previousAcceptedOffers"}}</strong>
              </li>
              {{#each (filter-by "state" "accepted" (reverse obj.history))  as |offer|}}
                  <li class="list-group-item">[{{offer.state}}] <b>{{offer.senderName}}</b> --&gt; <b>{{offer.receiverName}}</b>  {{moment-format offer.ts "HH:mm:ss"}} / {{moment-from-now offer.ts hideSuffix=true interval=1000}} <span class="to-tomato"></span> {{offer.tomatoes}} <span class="to-money"></span> {{offer.price}}</li>
              {{else}}
                <li class="list-group-item"><i>{{t "na"}}</i></li>
              {{/each}}
          </ul>

      </div>
    {{/each-in}}

  </div> 

  {{outlet}}

</div>
