

<div class="container">
  
  {{#timer-jumbotron game=game}}
      <div class="line-1">{{t 'player.title'}}</div>
      <div class="line-2">{{capitalize (t model.roleDescription)}} #{{model.playerPosition}}</div>
      <div class="line-2">{{model.name}}</div>
  {{/timer-jumbotron}}

  <div class="row">
      
    {{#each-in model.groupedReceivedOpenOffers as |k obj|}}
      <div class="col-sm-4 ">
          {{#if (eq k 'External')}}
            <h4>{{capitalize (t 'external')}}</h4>
          {{else}}
            <h4>{{capitalize (t obj.user.roleDescription)}} {{obj.user.playerPosition}}: {{obj.user.name}}</h4>
          {{/if}}
          
          <ul class="list-group">
              <li class="list-group-item">
                <div class="form-inline">
                    <div class="form-group">
                      <label for="offerTomato">{{t 'tomatoes'}} <span class="to-tomato"></span></label>
                      {{input value=obj.user._offerTomato type="number" class="form-control" placeholder="kg of tomatoes"}}
                    </div>
                    <div class="form-group">
                      <label for="offerPrice">{{t 'price'}} <span class="to-money"></span></label>
                      {{input value=obj.user._offerPrice type="number" class="form-control" placeholder="price per kg"}}
                    </div>
                    
                    <p>
                      {{#if (and (gt obj.user._offerTomato 0) (gt obj.user._offerPrice 0))}}
                        {{#if (eq k 'External')}}
                            <button class="btn btn-default" {{action 'sendOffer' game model 0 obj.user._offerTomato obj.user._offerPrice}}>{{t 'sendOfferTo'}} <b>{{obj.user.name}}</b></button>
                        {{else}}
                          <button class="btn btn-default" {{action 'sendOffer' game model obj.user obj.user._offerTomato obj.user._offerPrice}}>{{t 'sendOfferTo'}} <b>{{obj.user.name}}</b></button>
                        {{/if}}
                      {{/if}}
                    </p>
                </div>
              </li>
          </ul>
          <ul class="list-group">
              
              {{player-offers store=store game=game openOffers=(reverse obj.openOffers) sentOffers=(reverse obj.sentOffers)}}
              
              {{#each (take 5 (reverse obj.history)) as |offer|}}
                  <li class="list-group-item">[{{offer.state}}] <b>{{offer.senderName}}</b> --&gt; <b>{{offer.receiverName}}</b>  {{moment-format offer.ts "HH:mm:ss"}} / {{moment-from-now offer.ts hideSuffix=true interval=1000}} T: {{offer.tomatoes}} M: {{offer.price}}</li>
              {{/each}}
          </ul>
      </div>
    {{/each-in}}

  </div> 
  
  <div class="row">

    <div class="col-sm-6">
      <h3>{{t 'player.resourceOverview'}}</h3>

      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>{{t "type"}}</th>
            <th>{{t "amount"}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          {{!--<tr>--}}
          {{!--  <td>{{capitalize (t 'money')}}</td>--}}
          {{!--  <td>{{model.money}}  <span class="to-money"></span></td>--}}
          {{!--</tr>--}}
            <td>{{capitalize (t 'goalTomatoes')}}</td>
            <td>{{model.goalTomatoes}}  <span class="to-tomato"></span></td>
          </tr>
          <tr>
            <td>{{capitalize (t 'tomatoes')}}</td>
            <td>{{model.tomatoes}} <span class="to-tomato"></span></td>
          </tr>
          <tr>
            <td>{{capitalize (t 'remainingTomatoes')}}</td>
            <td>{{model.remainingTomatoes}} <span class="to-tomato"></span></td>
          </tr>
          <tr>
            <td>{{capitalize (t 'avgTomatoPrice')}}</td>
            <td>{{digit-format model.avgTomatoPrice}} <span class="to-price"></span></td>
          </tr>
        </tbody>
      </table>

    </div>  {{!-- end col-sm-6 --}}

  </div>  {{!-- <div class="row"> --}}

  <div class="row">
    <div class="col-sm-12">
      <h3>{{t 'player.history'}}</h3>
      <ul class="list-group">
        {{#each model.historicOffers as |offer|}}
          <li class="list-group-item">[{{offer.state}}] <b>{{offer.senderName}}</b> --&gt; <b>{{offer.receiverName}}</b>  {{moment-format offer.ts "HH:mm:ss"}} / {{moment-from-now offer.ts hideSuffix=true interval=1000}} T: {{offer.tomatoes}} M: {{offer.price}}</li>
        {{/each}}
      </ul>
    </div>
  </div>


  {{outlet}}

</div>
