<div class="container-fluid">
  {{#if (and (or game.gameIsAboutToStart game.gameIsRunning) (not game.isImported))}}
    
    {{#if model.isSeller}}
      {{seller-header game=game model=model isTutorialActive=isTutorialActive}}
    {{else}}
      {{buyer-header game=game model=model isTutorialActive=isTutorialActive}}
    {{/if}}
    
    {{tutorial-row tutorial='player' step='introduction1' previous=null active=isTutorialActive}}
    {{tutorial-row tutorial='player' step='introduction2' active=isTutorialActive}}
    {{tutorial-row tutorial='player' step='trade1' active=isTutorialActive}}
    {{tutorial-row tutorial='player' step='trade2' active=isTutorialActive}}
    {{tutorial-row tutorial='player' step='game1' active=isTutorialActive}}
    {{tutorial-row tutorial='player' step='game2' active=isTutorialActive}}
    {{tutorial-row tutorial='player' step='game3' active=isTutorialActive}}
    {{tutorial-row tutorial='player' step='tradeIntroduction' active=isTutorialActive}}
    {{tutorial-row tutorial='player' step='tradeConclusion' active=isTutorialActive}}
    {{tutorial-row tutorial='player' step='externalTradeIntroduction' active=isTutorialActive}}
    {{tutorial-row tutorial='player' step='externalTradeConclusion' active=isTutorialActive}}
    {{tutorial-row tutorial='player' step='conclusion1' active=isTutorialActive}}
    {{tutorial-row tutorial='player' step='conclusion2' next=null active=isTutorialActive}}
    
    {{#if model.isSeller}}
      {{tutorial-row tutorial='player' step='anchor1' next='sellerIntroduction' active=isTutorialActive}}
      
      {{tutorial-row tutorial='player' step='sellerIntroduction' previous='anchor1' active=isTutorialActive}}
      {{tutorial-row tutorial='player' step='sellerAnchor' active=isTutorialActive}}
      {{tutorial-row tutorial='player' step='sellerConclusion' next='anchor2' active=isTutorialActive}}
      
      {{tutorial-row tutorial='player' step='anchor2' previous='sellerConclusion' active=isTutorialActive}}
    {{else}}
      {{tutorial-row tutorial='player' step='anchor1' next='buyerIntroduction' active=isTutorialActive}}
      
      {{tutorial-row tutorial='player' step='buyerIntroduction' previous='anchor1' active=isTutorialActive}}
      {{tutorial-row tutorial='player' step='buyerAnchor' active=isTutorialActive}}
      {{tutorial-row tutorial='player' step='buyerConclusion' next='anchor2' active=isTutorialActive}}
      
      {{tutorial-row tutorial='player' step='anchor2' previous='buyerConclusion' active=isTutorialActive}}
    {{/if}}
    
    <div class="row">
      
      {{#each-in model.groupedReceivedOpenOffers as |k obj|}}
        <div class="col-sm-4 ">
          {{#if (eq k 'External')}}
            <h3 class="property-label">{{t 'player.external'}}</h3>
          {{else}}
            <h3 class="property-label">{{t (concat 'player.' obj.user.roleDescription)}} {{obj.user.playerPosition}} {{obj.user.name}}</h3>
          {{/if}}
          
          {{#if (or model.enableExternalTrading (not (eq k 'External')))}}
            
            <ul class="list-group">
              <li class="list-group-item">
                {{#if (eq k 'External')}}
                  
                  {{#if (gte obj.sentOffers.length 3)}}
                    <div class="alert alert-danger" role="alert">
                      {{t "player.offerExceeds3StandingOffers"}}
                    </div>
                  {{/if}}
                  
                  {{#if (and model.isSeller (gt _ext_offerTomato model.remainingTomatoes))}}
                    <div class="alert alert-danger" role="alert">
                      {{t "player.offerExceedsRemainder"}}
                    </div>
                  {{/if}}
                  
                  <div class="form-group row">
                    <div class="col-3 col-sm-3 col-lg-3">
                      <label for="offerTomato" class="form-control-static">{{t 'player.amount'}}</label>
                    </div>
                    <div class="col-5 col-sm-5 col-lg-5">
                      <div class="input-tomato">
                        <span class="tomato-anchor">
                          <span class="tomato-container">
                            <span class="to-tomato" />
                          </span>
                        </span>
                        {{number-input 
                          class="form-control" 
                          placeholder=(t "player.amountPlaceholder")
                          unmaskedValue=_ext_offerTomato  
                          group=true 
                          groupSize=3 
                          separator="," 
                          decimal=false 
                          radix="."
                        }}
                      </div>
                    </div>
                    <div class="col-4 col-sm-4 col-lg-4">
                      <div class="form-control-static pull-right">{{t 'player.externalOfferMaximum'}} <span class="to-tomato" />{{model.extOfferTomato}}</div>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-3 col-sm-3 col-lg-3">
                      <label for="offerPrice" class="form-control-static">{{t 'player.unitPrice'}}</label>
                    </div>
                    <div class="col-5 col-sm-5 col-lg-5">
                      <div class="input-tomato">
                        <span class="tomato-anchor">
                          <span class="tomato-container">
                            <span class="to-money" />
                          </span>
                        </span>
                        {{input-money
                          number=model.extOfferPrice 
                          class="form-control" 
                          placeholder=(t "player.unitPricePlaceholder")
                          disabled=1
                        }}
                      </div>
                    </div>
                    <div class="col-4 col-sm-4 col-lg-4">
                      {{!-- check logic here is inverse to above --}}
                      {{#if (and 
                              (lt obj.sentOffers.length 3) 
                              (gt _ext_offerTomato 0) 
                              (my-lte _ext_offerTomato model.extOfferTomato)
                              (or (not model.isSeller) (lte _ext_offerTomato model.remainingTomatoes))
                            )}}
                        <button class="btn btn-info pull-right" {{action 'sendOffer' game model 0 _ext_offerTomato model.extOfferPrice}}>{{t 'player.send'}}</button>
                      {{else}}
                        <button disabled class="btn btn-default pull-right" {{action 'sendOffer' game model 0 _ext_offerTomato model.extOfferPrice}}>{{t 'player.send'}}</button>
                      {{/if}}
                    </div>
                  </div>
                  
                {{else}}
                  
                  {{#if (gte obj.sentOffers.length 3)}}
                    <div class="alert alert-danger" role="alert">
                      {{t "player.offerExceeds3StandingOffers"}}
                    </div>
                  {{/if}}
                  {{#if (and model.isSeller (gt obj.user._offerTomato model.remainingTomatoes))}}
                    <div class="alert alert-danger" role="alert">
                      {{t "player.offerExceedsRemainder"}}
                    </div>
                  {{/if}}
                  
                  <div class="form-group row">
                    <div class="col-3 col-sm-3 col-lg-3">
                      <label for="offerTomato" class="form-control-static">{{t 'player.amount'}}</label>
                    </div>
                    <div class="col-5 col-sm-5 col-lg-5">
                      <div class="input-tomato">
                        <span class="tomato-anchor">
                          <span class="tomato-container">
                            <span class="to-tomato" />
                          </span>
                        </span>
                        {{number-input 
                          class="form-control" 
                          placeholder=(t "player.amountPlaceholder")
                          unmaskedValue=obj.user._offerTomato  
                          group=true 
                          groupSize=3 
                          separator="," 
                          decimal=false 
                          radix="."
                        }}
                      </div>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-3 col-sm-3 col-lg-3">
                      <label for="offerPrice" class="form-control-static">{{t 'player.unitPrice'}}</label>
                    </div>
                    <div class="col-5 col-sm-5 col-lg-5">
                      <div class="input-tomato">
                        <span class="tomato-anchor">
                          <span class="tomato-container">
                            <span class="to-money" />
                          </span>
                        </span>
                        {{input-money
                          number=obj.user._offerPrice 
                          class="form-control" 
                          placeholder=(t "player.unitPricePlaceholder")
                        }}
                      </div>
                    </div>
                    <div class="col-4 col-sm-4 col-lg-4">
                      {{!-- check logic here is inverse to above --}}
                      {{#if (and 
                              (lt obj.sentOffers.length 3)
                              (gt obj.user._offerTomato 0) 
                              (gt obj.user._offerPrice 0)
                              (or (not model.isSeller) (lte obj.user._offerTomato model.remainingTomatoes)) 
                            )}}
                        {{#if (eq k 'External')}}
                          <button class="btn btn-info pull-right" {{action 'sendOffer' game model 0 obj.user._offerTomato obj.user._offerPrice}}>{{t 'player.send'}}</button>
                        {{else}}
                          <button class="btn btn-info pull-right" {{action 'sendOffer' game model obj.user obj.user._offerTomato obj.user._offerPrice}}>{{t 'player.send'}}</button>
                        {{/if}}
                      {{else}}
                        {{#if (eq k 'External')}}
                          <button disabled class="btn btn-default pull-right" {{action 'sendOffer' game model 0 obj.user._offerTomato obj.user._offerPrice}}>{{t 'player.send'}}</button>
                        {{else}}
                          <button disabled class="btn btn-default pull-right" {{action 'sendOffer' game model obj.user obj.user._offerTomato obj.user._offerPrice}}>{{t 'player.send'}}</button>
                        {{/if}}
                      {{/if}}
                    </div>
                  </div>
                  
                {{/if}}
              </li>
              
              {{#if (eq k 'External')}}
                {{tutorial-list-item tutorial='player' step='externalTradeSend1' active=isTutorialActive}}
                {{tutorial-list-item tutorial='player' step='externalTradeSend2' active=isTutorialActive}}
              {{else}}
                {{tutorial-list-item tutorial='player' step='tradeSend1' active=isTutorialActive}}
                {{tutorial-list-item tutorial='player' step='tradeSend2' active=isTutorialActive}}
                
                {{tutorial-list-item tutorial='player' step='tradeTutorial1' active=isTutorialActive}}
                {{tutorial-list-item tutorial='player' step='tradeTutorial4' active=isTutorialActive}}
              {{/if}}
              
            </ul>

            <ul class="list-group">
              
              <li class="list-group-item">
                <strong>{{t "player.currentTransactions"}}</strong>
              </li>
              {{player-offers
                store=store
                game=game
                isSeller=model.isSeller
                openOffers=(reverse obj.openOffers)
                sentOffers=(reverse obj.sentOffers)
                remainingTomatoes=model.remainingTomatoes
              }}
              
              {{#if (not (eq k 'External'))}}
                {{tutorial-list-item tutorial='player' step='tradeTutorial2' active=isTutorialActive}}
                {{tutorial-list-item tutorial='player' step='tradeTutorial5' active=isTutorialActive}}
                {{tutorial-list-item tutorial='player' step='tradeTutorial7' previous=(if model.isSeller 'tradeTutorialSeller3' 'tradeTutorialBuyer3') active=isTutorialActive}}
              {{/if}}
              
            </ul>
            
            <ul class="list-group">
              
              <li class="list-group-item">
                <strong>{{t 'player.last5Transactions'}}</strong>
              </li>
              
              {{#each (take 5 (reverse obj.history)) as |offer|}}
                {{player-offer-display offer=offer}}
              {{else}}
                <li class="list-group-item">{{t "player.noTransactions"}}</li>
              {{/each}}
              
              {{#if (not (eq k 'External'))}}
                {{tutorial-list-item tutorial='player' step='tradeTutorial3' active=isTutorialActive}}
              {{/if}}
              
            </ul>
            
            <ul class="list-group">
              
              <li class="list-group-item">
                <strong>{{t "player.previouslyAcceptedOffers"}}</strong>
              </li>
              {{#each (take 10 (filter-by "state" "accepted" (reverse obj.history))) as |offer|}}
                {{player-offer-display offer=offer}}
              {{else}}
                <li class="list-group-item">{{t "player.noTransactions"}}</li>
              {{/each}}
              
              {{#if (not (eq k 'External'))}}
                {{tutorial-list-item tutorial='player' step='tradeTutorial6' next=(if model.isSeller 'tradeTutorialSeller1' 'tradeTutorialBuyer1') active=isTutorialActive}}
              {{/if}}
              
            </ul>
            
          {{else}}
            <p class="property-value">{{t "player.noExternalTransactions"}}</p>
          {{/if}}
          
        </div>
      {{/each-in}}

    </div>
    
  {{else}}
  
    {{player-results game=game}}
  
  {{/if}}

</div>