<div class="container">
  <div class="row text-right">
    <a href="#" class="{{if (eq i18n.locale 'en') 'lead'}}" {{action "changeLang" 'en'}}>EN</a>
    <a href="#" class="{{if (eq i18n.locale 'nl') 'lead'}}" class="lead" {{action "changeLang" 'nl'}}>NL</a>
    <a href="#" class="{{if (eq i18n.locale 'zh') 'lead'}}" {{action "changeLang" 'zh'}}>ZH</a>
  </div>
</div>

<div class="title-container">
    <span class="line-1">{{t 'player.title'}}</span>
    <span class="line-2">#{{model.playerPosition}}.{{model.name}}</span>
</div>

<div class="container">
  <div class="row">
      
    {{#each-in model.groupedReceivedOpenOffers as |k obj|}}
      <div class="col-sm-6">
          <h4>Player {{obj.user.playerPosition}}: {{obj.user.name}}</h4>
          
          <ul class="list-group">
              <li class="list-group-item">
                <div class="form-inline">
                    <div class="form-group">
                      <label for="offerTomato">{{t 'tomatoes'}} <span class="to-tomato"></span></label>
                      {{input value=obj.user._offerTomato type="text" class="form-control" placeholder="kg of tomatoes"}}
                    </div>
                    <div class="form-group">
                      <label for="offerPrice">{{t 'price'}} <span class="to-money"></span></label>
                      {{input value=obj.user._offerPrice type="text" class="form-control" placeholder="price"}}
                    </div>
                    
                    <p>
                      <button class="btn btn-default" {{action 'sendOffer' model.userGame model obj.user obj.user._offerTomato obj.user._offerPrice}}>{{t 'sendOfferTo'}} <b>{{obj.user.name}}</b></button>
                    </p>
                </div>
              </li>
              
              {{#each (reverse obj.openOffers) as |offer|}}
                <li class="list-group-item">  
                  &lt;-- <b>{{offer.senderName}}</b> <i>{{moment-format offer.ts "HH:mm:ss"}} / {{moment-from-now offer.ts hideSuffix=true interval=1000}}</i> <br>
            
                  {{offer.tomatoes}} <span class="to-tomato"></span> for {{offer.price}} <span class="to-money"></span> 
                  
                  <button  class="btn btn-success" {{action 'acceptOffer' offer}}>{{t 'accept'}}</button>
                  <button  class="btn btn-default" {{action 'declineOffer' offer}}>{{t 'decline'}}</button>
                </li>
              {{/each}}
              
              {{#each (reverse obj.sentOffers) as |offer|}}
                <li class="list-group-item">
                  --&gt; <b>{{offer.receiver.name}}</b> <i>{{moment-format offer.ts "HH:mm:ss"}} / {{moment-from-now offer.ts hideSuffix=true interval=1000}}</i> <br>
    
                  {{offer.tomatoes}} <span class="to-tomato"></span> for {{offer.price}} <span class="to-money"></span> 
                  
                  <button class="btn btn-default" {{action 'recallOffer' offer}}>{{t 'recall'}}</button>
                </li>
              {{/each}}
              
              {{#each (take 5 (reverse obj.history)) as |offer|}}
                  <li class="list-group-item">[{{offer.state}}] <b>{{offer.senderName}}</b> --&gt; <b>{{offer.receiver.name}}</b>  {{moment-format offer.ts "HH:mm:ss"}} / {{moment-from-now offer.ts hideSuffix=true interval=1000}} T: {{offer.tomatoes}} M: {{offer.price}}</li>
              {{/each}}
          </ul>
      </div>
    {{/each-in}}
      
  </div> 
  
  <div class="row">

    <div class="col-sm-6">
      <h3>{{t 'player.resourceOverview'}}</h3>

      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Type</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          {{!--<tr>--}}
          {{!--  <td>{{capitalize (t 'money')}}</td>--}}
          {{!--  <td>{{model.money}}  <span class="to-money"></span></td>--}}
          {{!--</tr>--}}
            <td>{{capitalize (t 'goalTomatoes')}}</td>
            <td>{{model.goalTomatoes}}  <span class="to-tomato"></span></td>
          </tr>
          <tr>
            <td>{{capitalize (t 'tomatoes')}}</td>
            <td>{{model.tomatoes}} <span class="to-tomato"></span></td>
          </tr>
        </tbody>
      </table>

      {{#if model.receivedOpenOffers}}
        <h5>{{t 'receivedOffers'}}</h5>
        <ul class="list-group">
          {{#each model.receivedOpenOffers as |offer|}}
            <li class="list-group-item">  
              &lt;-- <b>{{offer.senderName}}</b> <i>{{moment-format offer.ts "HH:mm:ss"}} / {{moment-from-now offer.ts hideSuffix=true interval=1000}}</i> <br>

              {{offer.tomatoes}} <span class="to-tomato"></span> for {{offer.price}} <span class="to-money"></span> 
              
              <button  class="btn btn-success" {{action 'acceptOffer' offer}}>{{t 'accept'}}</button>
              <button  class="btn btn-default" {{action 'declineOffer' offer}}>{{t 'decline'}}</button>
            </li>
          {{/each}}
        </ul>
      {{/if}}

      {{#if model.sentOpenOffers}}
        <h5>{{t 'sentOffers'}}</h5>
        <ul class="list-group">
          {{#each model.sentOpenOffers as |offer|}}
            <li class="list-group-item">
              --&gt; <b>{{offer.receiver.name}}</b> <i>{{moment-format offer.ts "HH:mm:ss"}} / {{moment-from-now offer.ts hideSuffix=true interval=1000}}</i> <br>

              {{offer.tomatoes}} <span class="to-tomato"></span> for {{offer.price}} <span class="to-money"></span> 
              
              <button class="btn btn-default" {{action 'recallOffer' offer}}>{{t 'recall'}}</button>
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </div>  {{!-- end col-sm-6 --}}

  </div>  {{!-- <div class="row"> --}}

  <div class="row">
    <div class="col-sm-12">
      <h3>{{t 'player.history'}}</h3>
      <ul class="list-group">
        {{#each model.historicOffers as |offer|}}
          <li class="list-group-item">[{{offer.state}}] <b>{{offer.senderName}}</b> --&gt; <b>{{offer.receiver.name}}</b>  {{moment-format offer.ts "HH:mm:ss"}} / {{moment-from-now offer.ts hideSuffix=true interval=1000}} T: {{offer.tomatoes}} M: {{offer.price}}</li>
        {{/each}}
      </ul>
    </div>
  </div>


  {{outlet}}

</div>
